@charset "utf-8";
/* CSS Document */



body  {
	font-family: Verdana, Geneva, sans-serif;
  max-width: 100%;
	overflow-x: hidden;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #036;
}
.home_page #container {
  font-size: 1.5em;
	width: 100%;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */
	background-color:F5F6F9;
}
.home_page #header {
	height: 100px;
	width: 100%;
	background-color: #000;
	padding: 0 10px 0 20px;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
}

#logo { width: 100% background-color: white;}

#logo img {width: 200px; height: 100px;}

#logo h2 {position: relative; margin-top: -50px; margin-left: 200px; color: white; z-index: -1;}

#slide_show { background-color:#FFF; }
/*
essential styles:
these make the slideshow work
*/

.homeBanner { margin: 88px auto 0px; height: 400px; overflow: hidden; position: relative; width: 85%;}
.bannerTextBox { background: url(../../imgs/bg.jpg); repeat; bottom: 0px; height: 300px; left: 0px; padding: 10px 0px 20px 20px; position: absolute; width: 300px;}
.bannerTextBox * { display: block; }
.bannerTextBox .title { color: #325f92; font-size: 21px; margin-bottom: 6px; font-weight: bold; }
.bannerTextBox .title, .bannerTextBox { font-family: Century Gothic, sans-serif;}
.bannerTextBox .desc { margin-bottom: 6px; font-size: 18px; text-align: left;}
.bannerTextBox a { color: #F00; text-align: left; text-decoration: none;}
.bannerTextBox a:hover { color: #325f92; text-decoration: underline; }

#top_links{
	position: absolute;
	top: 110px;
	left: 225px;
	margin:0px;
	padding: 0px 10px 5px 10px;
	float: right; height: 50px;  text-transform: uppercase;
}

#top_links a {
	font-size: 100%;
	text-decoration: none;
	border-left:2px solid #FFF; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color:#FFF; background-color: #69F;
	 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9CF), color-stop(100%, #CCC));
	 background-image: -webkit-linear-gradient(top, #9CF, #CCC);
	 background-image: -moz-linear-gradient(top, #9CF, #CCC);
	 background-image: -ms-linear-gradient(top, #9CF, #CCC);
	 background-image: -o-linear-gradient(top, #9CF, #CCC);
	 background-image: linear-gradient(top, #9CF, #CCC);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#9CF, endColorstr=#CCC);	}

#top_links a:hover {
	 border:1px solid #450111; color: #FFF; background-color: #309;
	 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #CCC), color-stop(100%, #036));
	 background-image: -webkit-linear-gradient(top, #CCC, #036);
	 background-image: -moz-linear-gradient(top, #CCC, #036);
	 background-image: -ms-linear-gradient(top, #CCC, #036);
	 background-image: -o-linear-gradient(top, #CCC, #036);
	 background-image: linear-gradient(top, #CCC, #036);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#CCC, endColorstr=#036);}

#separator { background-color:#b9d2e8; height: 25PX; color:#FFF;}

#page_content{
	width: 85%;
	margin-left: 88px;
	text-align: left;}

	#page_content{
   display: grid; grid-template-columns: 33% 33% 33%; grid-template-rows: auto;
   justify-content: space-between; padding: 3px;
 }
#page_content #service1 img, #page_content #service2 img, #page_content #service3 img{height: 200px;}

/* #page_content .group:after { visibility: hidden;
	display: block; font-size: 10; content: " "; clear: both; height: 0; }
#page_content .group { display: inline-block; clear: both; position: absolute;}
 /* * html .group { height: 1%; } #page_content .group { display: block; } */ */

#container #footer {
	padding: 0 10px 0 20px; /* this padding matches the left alignment of the elements in the divs that appear above it. */
	background-color:#b9d2e8;
	clear: both;
	font-size: 75%;
	color: #300;

}

#container #footer img{
	padding: 4px 4px 4px 10px;
	vertical-align: middle;
}

#container #footer #footer_content { color: #036; font-weight: bold;}

#container #footer #footer_content #user{ display: none;}
