@charset "utf-8";
/* CSS Document */



body  {
	font:  100% 'Century Gothic', sans-serif;
	max-width: 100%;
	overflow-x: hidden;
	background: #dcded9;
	/* background-image: url(file:///C|/KBconsult/imgs/bg1.jpg); background-repeat: repeat; */
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #036;
}
.home_page #container {
	width: 100%;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */
	background-color:#FFF;
}
.home_page #header {
	height: 100px;
	width: 100%;
	background-color:#000;
	padding: 0 10px 0 20px;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
}


#logo { float: left; height: 100px; padding: 5px 0 0 0px; width: 180px;}
div #logo a { background: url(../../imgs/logo.PNG) no-repeat; height: 95px; width: 180px;}
#logo a { display: block; text-indent: -9000px; }

#logot { float: left; height: 100px; padding: 0px; width: 360px; background-color:#FFF;}
div #logot a { background: url(../../imgs/ltitle.PNG) no-repeat; height: 100px; width: 360px; margin-top: 24px;}
#logot a { display: block; text-indent: -9000px; }


#pageHome { background-color:#FFF; }
/*
essential styles:
these make the slideshow work
*/

.homeBanner { margin: 88px auto 0px; height: 400px; overflow: hidden; position: relative; width: 85%;}
.bannerTextBox { background: url(../../imgs/bg.jpg); repeat; bottom: 0px; height: 300px; left: 0px; padding: 10px 0px 20px 20px; position: absolute; width: 300px;}
.bannerTextBox * { display: block; }
.bannerTextBox .title { color: #325f92; font-size: 21px; margin-bottom: 6px; font-weight: bold; }
.bannerTextBox .title, .bannerTextBox { font-family: Century Gothic, sans-serif;}
.bannerTextBox .desc { margin-bottom: 6px; font-size: 18px; text-align: left;}
.bannerTextBox a { color: #F00; text-align: left; text-decoration: none;}
.bannerTextBox a:hover { color: #325f92; text-decoration: underline; }

#top_links{
	position: absolute;
	top: 110px;
	left: 225px;
	margin:0px;
	padding: 0px 10px 5px 10px;
	float: right; height: 50px;  text-transform: uppercase;
}

#top_links a {
	font-size: 100%;
	text-decoration: none;
	border-left:2px solid #FFF; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color:#FFF; background-color: #69F;
	 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9CF), color-stop(100%, #CCC));
	 background-image: -webkit-linear-gradient(top, #9CF, #CCC);
	 background-image: -moz-linear-gradient(top, #9CF, #CCC);
	 background-image: -ms-linear-gradient(top, #9CF, #CCC);
	 background-image: -o-linear-gradient(top, #9CF, #CCC);
	 background-image: linear-gradient(top, #9CF, #CCC);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#9CF, endColorstr=#CCC);	}

#top_links a:hover {
	 border:1px solid #450111; color: #FFF; background-color: #309;
	 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #CCC), color-stop(100%, #036));
	 background-image: -webkit-linear-gradient(top, #CCC, #036);
	 background-image: -moz-linear-gradient(top, #CCC, #036);
	 background-image: -ms-linear-gradient(top, #CCC, #036);
	 background-image: -o-linear-gradient(top, #CCC, #036);
	 background-image: linear-gradient(top, #CCC, #036);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#CCC, endColorstr=#036);}

/* Shared Cycle Nav Buttons */
.cycleNav { bottom: 0px; height: 84px; position: absolute; right: 0px; width: 46px; z-index: 1000;}
.cycleNav li a { background-image:url('../../imgs/arrow-banner-nav-sprite.png'); background-repeat: no-repeat; display: block; height: 40px; margin: 0 6px 0px 0; text-indent: -9000px; width: 40px;}
.cycleNav li.prevBtn a { background-position: 0px 0px;}
.cycleNav li.prevBtn a:hover { background-position: -57px 0px;}
.cycleNav li.nextBtn a { background-position: 0px -40px;}
.cycleNav li.nextBtn a:hover { background-position: -57px -40px;}
.prevBtn, .nextBtn { list-style: none;}

#separator { background-color:#b9d2e8; height: 35PX; color:#FFF;}

#page_content{

	width: 85%;
	margin-left: 88px;
	text-align: left;}





/*-------------------------------------------------
	Services Pg
-------------------------------------------------*/
#changing_content .gridH2 h2 { margin-bottom: 0px; }
#changing_content ul #gallery { border-bottom: 1px solid #ccc; float: left;  width: 940px;}
#changing_content #gallery li {
	border-top: 1px solid #ccc;
	list-style: none;
	background: #fff url(../../imgs/v_sep_line.gif) no-repeat 231px 0px;
	float: left;
	margin: 0px 8px 28px -8px;
	padding: 10px 16px 0 10px;
	width: 214px;
	height:260px;
}
#changing_content #gallery li.last { background-image: none; margin-right: 0px; padding-right: 0px; }
#changing_content #gallery li h4 { color: #000; text-decoration: none; text-transform: uppercase; text-align: center; font: Arial, Helvetica, sans-serif; }
#changing_content #gallery li span { color: #777; display: inline; overflow: hidden; font-size: 12px; margin: 0px;}

/* Service Icons */
#changing_content #gallery li div { height: 122px; overflow: hidden; padding-bottom: 10px; position: relative; text-align: center; width: 203px;} /* set default height */
#changing_content #gallery li div a { display: block;}
#changing_content #gallery li div img { background-color: #fff; cursor: pointer;}



/*-------------------------------------------------
  Services - Individual Pgs
-------------------------------------------------*/
.sidebarLeft, .svcsContentBox, .svcsInfoBox, .svcsDetailsBox { float: left; }
.sidebarLeft { margin-right: 20px; width: 220px;}
.svcsContentBox { width: 700px;}

.svcsNav a { color: #000; font-family: "Interstate"; padding: 0 15px 0 0; text-transform: uppercase;}
.svcsNav a:hover { color: #db4e43;}
.svcsNav ul { background: url('images/repeating-slash-bg.gif') repeat-x 0 100%; padding-bottom: 24px; }
.svcsNav li.current a { background: url('images/pricing-current-bg.gif') no-repeat 100% 2px; color: #db4e43; }

.sidebarLeft h4 { color: #db4e43; margin: 15px 0 14px 0; }
.sideTestimonials li { margin: 0 0 14px 0; }
.sideTestimonials li p.quote { background: #dfdcdc url('images/services-sprite.png') no-repeat 0 100%; margin-bottom: 6px; padding: 15px 10px 30px; }
.sideTestimonials li span { display: block; font-family: "Interstate"; font-size: 10px; line-height: 16px; text-transform: uppercase;}
.sideTestimonials li span.name { color: #000; }

.svcsBanner { height: 360px; margin: 0 0 20px 0; overflow: hidden; width: 700px;}
































	#qs{
	width: 100%;
	margin-left: 2%;
	text-align: left;}

	#qs #qsingsec1 ul{

	float: left;
	margin: 0px 8px 28px 0;
	padding: 10px 8px 0px 0;
	width: 20%; }

	#qs #qsingsec2 ul{

	float: left;
	margin: 0px 8px 28px 20px;
	padding: 10px 8px 0px 0;
	width: 25%; }

	#qs #qsingsec3 ul{

	float: left;
	margin: 0px 8px 28px 20px;
	padding: 10px 8px 0px 0;
	width: 45%; }

	#changing_content #aboutus{
		width: 65%;
		color: #000;
		margin-left: 20%;

		}

.home_page #page_content #service1 {
	float: left; /* since this element is floated, a width must be given */
	width: 22%; /* the actual width of this div, in standards-compliant browsers, or standards mode in Internet Explorer will include the padding and border in addition to the width */
	padding: 15px 10px 15px 10px;
	border-right: 1px double #b9d2e8;
	border-left: 1px solid #b9d2e8;

}
.home_page #page_content #service2 {
	float: right; /* since this element is floated, a width must be given */
	width: 22%; /* the actual width of this div, in standards-compliant browsers, or standards mode in Internet Explorer will include the padding and border in addition to the width */
	padding: 15px; /* top and bottom padding create visual space within this div */
	border-left: 1px solid #b9d2e8;
	border-right: 1px double #b9d2e8;

}

.home_page #page_content #service23 {
	float: right; /* since this element is floated, a width must be given */
	width: 23%; /* the actual width of this div, in standards-compliant browsers, or standards mode in Internet Explorer will include the padding and border in addition to the width */
	padding: 15px 10px; /* top and bottom padding create visual space within this div */
	border-left: 1px solid #b9d2e8;
	border-right: 1px double #b9d2e8;

}

/*===========================================================================*\
	Form Styles
\*===========================================================================*/

.form-item {
	margin-bottom: 5px;
}

.form-input {
	padding: 3px 10px;
	border: thin solid #CCCCCC;
	width: 90%;
	font-family: inherit;
	font-size: inherit;
	color: #555555;
}

button {
	border: none;
}

/*===========================================================================*\
	Form Styles
\*===========================================================================*/


.home_page #changing_content #mainContent {
width: 23%;
	margin: 0 52% 0 25%; /* the right and left margins on this div element creates the two outer columns on the sides of the page. No matter how much content the sidebar divs contain, the column space will remain. You can remove this margin if you want the #mainContent div's text to fill the sidebar spaces when the content in each sidebar ends. */
	padding: 15px 10px 15px 10px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
}





.home_page #footer {
	padding: 0 10px 0 20px; /* this padding matches the left alignment of the elements in the divs that appear above it. */
	background-color:#b9d2e8;
	clear: both;
	font-size: 75%;
	color: #300;

}

.home_page #footer img{
	padding: 4px 4px 4px 10px;
	vertical-align: middle;
}

.home_page #footer #footer_content{ color: #036; font-weight: bold;}

.home_page #footer a{ color: #000; font-weight: bold;}

.home_page #footer a:hover{ color: #036;}
.home_page #footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 10px 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
}
.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	  clear: both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
